@import "colors.scss";
@import "../navbar/navbar.scss";
@import "../lobby/lobbysignup.scss";
@import "../video-components/room/room.scss";
@import "../homemenu/homemenu.scss";
@import "../video-components/videoChat.scss";
@import "../video-components/participant/participant.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  color: #333e5a;
  min-height: 100%;
}

.app {
  min-height: 100vh;
  background-color: white;
}
