#video-chat {
  .room {
    position: relative;
    background-color: white;

    .participant-wrapper {
      margin: auto;
      text-align: left;
      width: 100%;
      max-width: 800px;
      display: block;
    }
  }
}
